.headbar {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #ffffff;
  padding: 0 120px 0 120px;
  border-bottom: 5px;
  border-bottom-color: #666666;

}
.image{
  float: left;
  padding: 0 12px 0 0;
}

.name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    padding: 15px 15px 15px 15px;
    text-align: center;
    display: inline-block;
    border-bottom: 5px;
  border-bottom-color: #666666;
 
  }

  .links {
    float: right;
    border-bottom: 5px;
  border-bottom-color: #666666;
  }
  
.about {
  background-color: #ffffff;
  color: #777777;
  display: inline-block;
  padding: 15px 15px 0 630px;
  font-size: 16;
  text-align: center;
  
    
}



.portfolio {
  background-color: #ffffff;
  color: #777777;
  display: inline-block;
  padding: 15px 15px 0 15px;
  font-size: 16;
  text-align: center;

}
    

.contact {
  background-color: #ffffff;
  color: #777777;
  display: inline-block;
  padding: 15px 15px 0 15px;
  font-size: 16;
  text-align: center;
  
   
}



.body{
 float: left;
  
  background-color: white;
  padding: 15px 10px 15px 10px;
  margin: 0 120px 0 120px;
  border-width: 2px;
  border-color: #777777
}
.aboutme{
  font-size: 30px;
  color:  #4aaaa5;
  padding: 20px 0 20px 0
 }

 

.bio{
  font-family: Arial, Helvetica, sans-serif;
  align-content: right;
  font-size: 16;

}
.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #666666;
    height: 20px;
    margin: 400px 0 0 0;
  }

.photos{
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

.allphotos{
  padding: 0 80px 0 80px;
}